@import 'tailwindcss';

@plugin 'tailwindcss-animate';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  background-color: white;
  max-width: 96rem;
  margin: 0 auto;
}

img {
  font-style: italic; /* used for alt text */
  shape-margin: 1rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
