.ui-table {
  position: relative;
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;

  thead th {
    border-top: 1px solid var(--color-gray-500);
    border-bottom: 1px solid var(--color-gray-500);
    border-right: 1px solid var(--color-gray-500);

    padding: 0.25rem 0.5rem;

    &:first-child {
      border-left: 1px solid var(--color-gray-500);
    }
  }

  tbody {
    tr {
      font-size: 0.875rem;
      line-height: 1.25rem;

      &:hover {
        background-color: var(--color-gray-100);
      }

      td {
        /* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
        border-bottom: 1px solid var(--color-gray-500);
        border-right: 1px solid var(--color-gray-500);

        padding: 0.25rem 0.5rem;

        &:first-child {
          border-left: 1px solid var(--color-gray-500);
        }
      }
    }
  }
}
